*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.navbar{
    background-color: #e0e0e0;
}

.nav-link{
    color: black;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    
    
}
.nav-link:hover{
    color: white;
    background-color: black;
    transition: 0.5s;
    

}
.navbar-brand{
    font-size: 1.2rem;
    font-weight: 800;
    color: black;
    cursor: pointer;
    text-decoration: none;
}
/* main section */


.main{
    background: url(black.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    
}
.main h3{
    font-size: 3.0rem;
    font-weight: 700;

}
.main h5{
    color: #f76a31;
}
.main h6{
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 1;
}
.main .bt1{
    height: 55px;
    width: 138px;
    background-color: black;
    color: white;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}
.main .bt1:hover{
    background-color:#f76a31;
    color:white;
    transition: 0.5s;
}
.ms{
    width: 7vh;
}
.py-5 {
    padding-top: 6rem!important;
}
.about{
    background-color: #e0e0e0;
}
.about img{
    box-shadow: 10px 6px 26px -3px rgba(0,0,0,0.59);
-webkit-box-shadow: 10px 6px 26px -3px rgba(0,0,0,0.59);
-moz-box-shadow: 10px 6px 26px -3px rgba(0,0,0,0.59);
}
h1{
    font-size: 3rem;
    font-weight: 900;
    color: #a6a7aa;
    font-family: fantasy;
}
.progress{
    background-color:#e0e0e0 ;
    justify-content: flex-start;
    border-radius: 50px;
    align-items: center;
    position: relative;
    display: flex;
    height: 25px;
    width: 100%;
    box-shadow: 22px 47px 175px -40px rgba(0,0,0,0.61) inset;
-webkit-box-shadow: 22px 47px 175px -40px rgba(0,0,0,0.61) inset;
-moz-box-shadow: 22px 47px 175px -40px rgba(0,0,0,0.61) inset;


}
.pro-value1{
    animation:load1 3s normal forwards ;
    border-radius: 50px;
    background-color:#f76a31 ;
    height: 25px;
    width: 0;
}
.pro-value2{
    animation:load2 3s normal forwards ;
    border-radius: 50px;
    background-color:#f76a31 ;
    height: 25px;
    width: 0;
}
.pro-value3{
    animation:load3 3s normal forwards ;
    border-radius: 50px;
    background-color:#f76a31;
    height: 25px;
    width: 0;
}
.pro-value4{
    animation:load4 3s normal forwards ;
    border-radius: 50px;
    background-color:#f76a31 ;
    height: 25px;
    width: 0;
}
.progress p{
    color: black;
    padding: 3px;
    font-weight: bold;
}
@keyframes load1 {
    0%{
        width: 0;
    }
    100%{
        width: 85%;
    }
}
@keyframes load2 {
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}
@keyframes load3 {
    0%{
        width: 0;
    }
    100%{
        width: 72%;
    }
}
@keyframes load4 {
    0%{
        width: 0;
    }
    100%{
        width: 70%;
    }
}

.img-fluid{
    border-radius: 20%;
    filter: grayscale(1);
}
.card{
    border: none;
    outline: none;
    box-shadow: 154px 80px 400px -45px rgba(0,0,0,0.65);
-webkit-box-shadow: 154px 80px 400px -45px rgba(0,0,0,0.65);
-moz-box-shadow: 154px 80px 400px -45px rgba(0,0,0,0.65);

}
.card p{
    color: gray;
}
.circle{
    height: 70px;
    width: 70px;
    background-color: lightgray;
    color: black;
    padding:12px;
    font-size: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
}
.card:hover .circle{
    background-color:#f76a31;
    color: white;
    transition: 0.5s;
} 
.py-3{
    font-size: 20px;
}
.font-weight-bold{
    color: #f76a31;
}
.pt-3{
    color: #f76a31;
    font-weight: bold;
    font-size: 30px;
}
.contactme{
    max-width: 800px;
    margin: 50px auto;
    position: relative;
    box-shadow: 0 10px 30px 0px rgba(0,0,0,0.1) ;
    padding: 30px ;
}
.contactme .title{
    text-align: center;
    letter-spacing: 3px;
    font-size: 3em;
    line-height: 48px;
    padding-bottom: 20px;
    color:#a6a7aa;
}
.contact-form .form-field{
    position: relative;
    margin: 32px 0;
}
.contact-form .input-text{
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #f76a31;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label{
    transform: translateY(-24px);
}
.contact-form .input-text:focus{
    outline: none;
}
.contact-form .label{
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    font-weight: 400;
    color:black;
    cursor: text;
    transition:transform 0.2 ease-in-out;
    text-transform: capitalize;
}
.contact-form .submit-btn{
    display: inline-block;
    background-color: black;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer;
    font-weight: bold;

}
.submit-btn:hover{
    background-color:#f76a31;
    color: black;
    transition: 0.5s;
}
.footer{
    background-color: lightgray;
    width: 100%;
    height: 120px;
}
.instagram{
    color:black;
}
.instagram:hover{
    color: #c42560;
    transition: 0.5s;
}
.twitter{
    color:black;
}
.twitter:hover{
    color: rgb(28, 83, 156);
    transition: 0.5s;
}
.linkedin{
    color:black;
}
.linkedin:hover{
    color: #257dc4;
    transition: 0.5s;
}
.social{
    margin: 40px;
}
.typings{
    color: black;
    font-size: 20px;
    padding-left: 20px;
}
.service{
    background-color: #e0e0e0;
}


